{% extends 'base.html' %}



{% block title %} Login {% endblock %}




{% block body %}

<h1>Login Here</h1>

<form action="{% url 'login' %}" method="post" novalidate >

    {% csrf_token %}


     {{form.as_p}}

    <input type="submit" value="Login"/>

</form>


<ul>

    <li><a href="{% url 'social:begin' 'facebook' %}">Signin With Facebook</a> </li>
    <li><a href="{% url 'social:begin' 'github' %}">Signin With Github</a> </li>
    <li><a href="{% url "social:begin" "google-oauth2" %}">Google+</a> </li>





</ul>


{% endblock %}
